* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 152px;
    margin-bottom: 152px;
    width: 100%;
}
img {
    margin-top: 16px;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}
.attribution {
    font-size: 11px; text-align: center;
    margin-top: 15px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.qr-code-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
}
.text {
    position: absolute;
    padding: 328px 16px 40px 16px;
    width: 288px;
    height: 129px;
}
#first-text {
    color: #1F314F;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
#second-text {
    color: #7D889E;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    padding: 16px 16px 0 16px;
}

/* Mobile */

@media (max-width: 375px) {
    body {
        margin: 0;
        padding: 0;
    }
    .qr-code-component {
        margin: 85px 28px 0 28px;
    }
    .attribution {
        font-size: 11px; text-align: center;
        margin-top: 15px;
    }
}